{
    "presets": [
      "module:metro-react-native-babel-preset"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "extensions": [".android.js", ".ios.js", ".js", ".android.tsx", ".ios.tsx",".ts" ,".tsx"],
          "cwd": "babelrc",
          "root": ["./src"],
          "alias": {
            "src": "./src",
            "assets": "./assets",
            "utilities": "./src/utilities",
            "components": "./src/components",
            "screens": "./src/screens",
            "hooks": "./src/hooks",
          }
        }
      ]
    ]
  }
  